.PrimaryButton {
    color: #ffffff;
    background-color: #1e262c;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.PrimaryButton:disabled {
    background-color: #2e3b45;
    cursor: not-allowed;
}