.Dashboard {
    height: 100%;
    min-height: 100vh;
    color: #f7f7f7;
    background-color: #2a4f4d;
    background-color: #1e262c;
    background-color: #182025;
    padding: 1rem;
}

.DashboardWrapper {
    max-width: 800px;
    margin: 0 auto;
}