/* The Switch - the box aRound the Slider */
.Switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
  }
  
/* Hide default HTML checkbox */
.Switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
/* The Slider */
.Slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #3e4347;
    background-color: #1e262c;
    -webkit-transition: .4s;
    transition: .4s;
}
  
.Slider::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    backgRound-color: #3e4347;
    backgRound-color: #f9d71c;
    backgRound-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .Slider {
    backgRound-color: #2196F3;
    backgRound-color: #3e4347;
    background-color: white;
}

input:checked + .Slider::before {
    background-color: white;
    background-color: #1e262c;
}

input:focus + .Slider {
    box-shadow: 0 0 1px #2196F3;
    box-shadow: 0 0 1px #3e4347;
    box-shadow: 0 0 1px #1e262c;
}
  
input:checked + .Slider::before {
    -webkit-transform: translateX(23px);
    -ms-transform: translateX(23px);
    transform: translateX(23px);
}
  
/* Rounded Sliders */
.Slider.Round {
    border-radius: 34px;
}
  
.Slider.Round::before {
    border-radius: 50%;
}

.Sun {
    position: absolute;
    top: 5px;
    right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #f9d71c;
}

.Moon {
    position: absolute;
    top: 5px;
    left: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1e262c;
}