.Input > :is(input, textarea) {
    display: block;
    color: #1e262c;
    width: 100%;
    background-color: #f5f5f5;
    font-family: 'hack';
    font-size: 1rem; 
    padding: 0.5rem;
    border: none;
}

.Input > label {
    display: flex;
}

.Input > textarea {
    resize: vertical;
}

@media screen and (max-width: 680px) {
    .Input > :is(input, textarea) {
        font-size: 0.8rem;
    }
}