.SecondaryButton {
    padding: 0.6rem 1.2rem;
    cursor: pointer;
    border: none;
    background-color: #f7f7f7;
    font-size: 1rem;
    color: #1e262c;
    letter-spacing: 1px;
}

.SecondaryButton:disabled {
    background-color: #eeeeee;
    cursor: not-allowed;
}