.WarningButton {
    color: #ffffff;
    background-color: #8b0000;
    font-size: 1rem;
    padding: 0.6rem 1.2rem;
    border: none;
    letter-spacing: 1px;
    cursor: pointer;
}

.WarningButton:disabled {
    background-color: #710000;
    cursor: not-allowed;
}